*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  overflow-wrap: break-word;
}

.header {
  padding: 4.1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f9f6f4;
  font-size: 16px;
  color: #1e0d03;
}

.header-search {
  position: absolute;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35%;
  max-width: 437px;
  height: 48px;
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #ede6e6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
}

.header-search-input {
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  line-height: 20px;
  padding: 0.4rem 15.6rem 0.4rem 0;
}

.header-search-icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.header-account {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-account-icon {
  margin: 0 14px;
  color: #1e0d03;
  font-size: 18px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.header-account-avatar {
  border-radius: 30px;
  width: 48px;
  height: 48px;
  margin-left: 12px;
  cursor: pointer;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  left: 0;
  top: 0;
  margin: 0 0 0 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f6f4;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  min-width: 252px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-logo {
  margin-top: 17px;
  height: 58px;
  width: 133px;
  cursor: pointer;
}

.sidebar-copyright {
  margin-bottom: 2rem !important;
  margin: 0 auto;
  opacity: 0.5;
}

.sidebar-copyright-cpr {
  margin-left: -32px !important;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.sidebar-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 23.1%;
  max-width: 252px;
  width: 80%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sidebar-container-item {
  font-size: 18px;
  padding: 14px 30px 14px 20px;
  border-radius: 8px;
  white-space: nowrap;
  line-height: 26px;
  opacity: 0.6;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.sidebar-container-item:hover,
.sidebar-container-item :focus {
  opacity: 1;
  background-color: #ffb800;
  color: white;
  font-weight: bold;
}

.sub {
  margin-left: 4rem;
  text-decoration: none;
  width: 70%;
}

.sub-hidden {
  display: none;
}

.icon {
  margin-right: 10px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  background-color: #f9f6f4;
}

.wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  min-height: 100vh;
  margin-right: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main {
  background: #ffffff;
  border-radius: 24px;
  padding: 24px;
  margin: 0 0 32px 0;
}

.col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.col-start {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.col-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
}

.row-center {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.mr-30 {
  margin-right: 30rem !important;
}

.h-base {
  min-height: 632px !important;
}

.pr-3rem {
  padding-right: 3.9rem !important;
}

.h-auto {
  height: auto !important;
}

.ml-2rem {
  margin-left: 2rem !important;
}

.mt-6rem {
  margin-top: 6rem !important;
}

.mt-1rem {
  margin-top: 1rem !important;
}

.mt-3rem {
  margin-top: 2.3rem !important;
}

.mr-24 {
  margin-right: 24px;
}

.start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1e0d03;
}

.container-revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .chart {
  max-height: 20rem !important;
  width: 100%;
  left: 80.43243408203125px;
  top: 89.55859375px;
  border-radius: 0px;
  margin: 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 160, 95, 0.26)), color-stop(141.68%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(250, 160, 95, 0.26) 0%, rgba(255, 255, 255, 0) 141.68%);
}

p.title_xl {
  color: inherit;
  font-size: 36px;
  font-style: bold;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 0.5rem;
}

.title {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.sm-title {
  color: inherit;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  opacity: 0.5;
}

.sum-revenue {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.currency {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.cube {
  width: 44px;
  height: 20px;
  padding: 1rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.used {
  background-color: #4f75ff;
}

.ready {
  background-color: #ff8a48;
}

.chart canvas {
  font-family: 'Montserrat' !important;
  max-height: 200px !important;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 2rem;
}

.section-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -2rem 0 -1rem;
  margin-top: -6.5rem;
}

.section-search {
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35%;
  max-width: 415px;
  height: 48px;
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #f7f7f8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-search-input {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  line-height: 20px;
  padding: 0.4rem 15.6rem 0.4rem 0;
}

.section-search-icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter button.export:after {
  content: '(.csv)';
  text-indent: 0.5rem;
}

.btn-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #ff993c;
  color: #ff993c;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 16px;
  margin: 0 0.5rem;
}

.btn-ticket:hover {
  color: white;
  background-color: #ff993c;
}

.ticket-status {
  padding: 0.2rem 1rem;
  border: 1px solid;
  opacity: 0.9;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table {
  width: 100%;
  border-spacing: 0rem;
  white-space: nowrap;
}

table .ant-table-cell {
  border: none !important;
}

table th {
  text-align: center;
  border: none !important;
  padding: 0.5rem 1.5rem 0.5rem 0 !important;
  border-bottom: none !important;
  font-size: 16px !important;
  font-style: bold !important;
  font-weight: 600 !important;
  line-height: 30px !important;
}

table th::before {
  display: none !important;
}

table th:first-child {
  padding: 0.5rem 1rem !important;
  border-radius: 8px 0 0 !important;
}

table th:nth-child(3) {
  text-align: left !important;
}

table th:nth-child(4) {
  text-align: left !important;
}

table th:last-child {
  padding: 0.5rem 1rem !important;
  border-radius: 0 8px 0 !important;
}

table td {
  padding: 1rem !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-style: bold !important;
}

table td:first-child {
  text-align: center !important;
}

table td:nth-child(8) {
  text-align: left !important;
  padding-left: 0 !important;
}

table td:nth-child(2) {
  text-align: left !important;
  padding-left: 0 !important;
}

table td:nth-child(3) {
  text-align: left !important;
  padding-left: 0 !important;
}

table td:nth-child(4) {
  text-align: left !important;
  padding-left: 0 !important;
}

table td:nth-child(5) {
  padding-left: 0 !important;
}

table td:nth-child(8) {
  text-align: left !important;
}

table td:nth-child(6) {
  text-align: right !important;
}

table td:nth-child(7) {
  text-align: right !important;
}

table tr:nth-child(even) {
  background-color: #f7f8fb;
}

.ant-modal-content {
  width: 634px;
  height: 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px !important;
  font-size: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ant-checkbox-group {
  width: 100%;
}

.ant-radio-wrapper {
  margin-right: 3.1rem !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.ant-radio-group {
  font-size: 16px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.ant-radio-group .ant-radio-inner {
  border: 2px solid #27aef9 !important;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-radio-group .ant-radio-inner span {
  position: absolute;
}

.ant-radio-group .ant-radio-checked .ant-radio-inner::after {
  width: 30px;
  height: 30px;
  left: 16%;
  top: 16%;
  position: absolute;
}

.ant-radio-group .ant-radio-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ant-radio-group .ant-radio-inner {
  border: 2px solid #27aef9 !important;
}

.ant-modal-header {
  border-radius: 12px !important;
  border-bottom: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.ant-modal-header .ant-modal-title {
  margin-top: 1rem !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  color: #1e0d03 !important;
}

.ant-modal-footer {
  border-top: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.ant-modal-footer :hover {
  color: white !important;
  background-color: #ff993c !important;
}

.ant-btn-primary {
  border: 1px solid #ff993c !important;
  color: #ff993c !important;
  background-color: transparent !important;
  border-radius: 8px !important;
  padding: 2rem 5rem !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-weight: 600 !important;
  line-height: 26px !important;
  font-size: 18px !important;
  text-shadow: none !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin-bottom: 1rem !important;
}

.ant-btn-primary span {
  padding: 0.7rem 152% !important;
  border-radius: 8px !important;
}

.ant-btn-primary:hover {
  color: white !important;
  background-color: #ff993c !important;
}

.ant-modal-body {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
  margin: 0 3rem;
}

.heading-base {
  opacity: 0.7;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  width: 156px;
  white-space: nowrap;
}

.date-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2rem;
}

.from {
  margin-right: 11rem;
}

.ant-picker {
  width: 143px;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 20px !important;
  border: 1px solid #a5a8b1 !important;
  border-radius: 8px !important;
  padding: 8px 12px !important;
  margin-top: 0.5rem !important;
}

.ant-picker svg {
  color: #ff993c !important;
  font-size: 2rem !important;
  border-radius: 5px !important;
}

.ant-picker-date-panel {
  position: absolute !important;
  background-color: white !important;
}

.ant-picker-cell-inner {
  font-weight: 500 !important;
  font-size: 14px !important;
}

.ant-picker-cell-today ::before {
  border-radius: 24px !important;
}

.ant-checkbox-wrapper {
  font-size: 16px !important;
}

.ant-checkbox-checked::after,
.ant-checkbox-inner {
  border-radius: 50% !important;
}

.ant-checkbox-indeterminate > .ant-checkbox-inner::after {
  border-radius: 50% !important;
}

.status,
.gate {
  margin-top: 3rem;
}

.flex-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.flex-half .ant-checkbox-checked::after,
.flex-half .ant-checkbox-inner::after,
.flex-half .ant-checkbox-inner {
  border-radius: 20% !important;
}

.flex-half .ant-checkbox-group {
  margin-left: 3rem !important;
}

.flex-half .ant-checkbox-group-item {
  margin: 0 6rem !important;
}

.flex-half .ant-checkbox-group :nth-child(3n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  margin-left: -11.8rem !important;
}

.ant-modal-body {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.ant-picker-panel-container {
  display: none !important;
}

.ant-checkbox + span {
  margin-bottom: 5px;
}

.ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.span.ant-radio + * {
  margin-bottom: -1px !important;
}

.border-none {
  border: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 32px;
}

.flex-half {
  -webkit-box-flex: 0.1 !important;
      -ms-flex: 0.1 !important;
          flex: 0.1 !important;
}

p.title_lg {
  color: inherit;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 0.5rem;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1.5rem 0;
}

.flex-start .content {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-start .content .ticket {
  font-size: 16px !important;
  color: #1e0d03;
  line-height: 20px;
}

.flex-start .content .ant-checkbox-wrapper {
  font-size: 16px !important;
  color: #1e0d03;
}

.flex-start .content .ant-checkbox-checked::after,
.flex-start .content .ant-checkbox-inner {
  border-radius: 50% !important;
}

.flex-start .content .ant-picker {
  margin-left: 2rem;
}

.flex-start .content .ant-checkbox {
  margin-bottom: 1.5rem;
}

.flex-start .content .ant-checkbox-indeterminate > .ant-checkbox-inner::after {
  border-radius: 50% !important;
}

.flex-start .content .ant-checkbox-group {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-start .content .ant-checkbox-group-item {
  margin: 0 !important;
}

.ant-picker-date-panel {
  left: -10rem !important;
}

.checkbox .ant-radio-group {
  margin-top: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox .ant-radio-wrapper {
  margin-bottom: 1.2rem;
}

.checkbox .ant-radio-checked .ant-radio-inner::after {
  width: 30px;
  height: 30px;
  left: 14%;
  top: 14%;
  position: absolute;
}

.btn-filter {
  border: 1px solid #ff993c;
  color: #ff993c;
  background-color: transparent;
  border-radius: 8px;
  padding: 0.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 26px;
  font-size: 18px;
  margin: 2rem auto;
}

.btn-filter:hover {
  cursor: pointer;
  color: white !important;
  background-color: #ff993c !important;
}

.edit {
  color: #ff993c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
}

.selection {
  margin-top: 1rem;
  z-index: 10 !important;
}

.ant-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
}

.ant-select .ant-select-selector {
  padding: 0 !important;
  background-color: #f1f4f8 !important;
  border: none !important;
  border-radius: 8px !important;
}

.ant-select .ant-select-selector span {
  padding: 0 16px !important;
  padding-top: 1px !important;
}

.ant-select-selection-item {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #7c7d95 !important;
}

.ant-select-arrow {
  color: #ff993c !important;
  font-size: 14px !important;
}

.container-table table {
  width: 100%;
  border-spacing: 0rem;
  white-space: nowrap;
}

.container-table table .ant-table-cell {
  border: none !important;
}

.container-table table th {
  text-align: center;
  border: none !important;
  padding: 0.5rem 1.5rem 0.5rem 0 !important;
  border-bottom: none !important;
  font-size: 16px !important;
  font-style: bold !important;
  font-weight: 600 !important;
  line-height: 30px !important;
}

.container-table table th::before {
  display: none !important;
}

.container-table table th:first-child {
  padding: 0.5rem 1rem !important;
  border-radius: 8px 0 0 !important;
}

.container-table table th:nth-child(3) {
  text-align: left !important;
}

.container-table table th:nth-child(4) {
  text-align: left !important;
}

.container-table table th:last-child {
  padding: 0.5rem 1rem !important;
  border-radius: 0 8px 0 !important;
}

.container-table table td {
  padding: 1rem !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-style: bold !important;
}

.container-table table td:first-child {
  text-align: center !important;
}

.container-table table td:nth-child(8) {
  text-align: left !important;
  padding-left: 0 !important;
}

.container-table table td:nth-child(2) {
  text-align: left !important;
  padding-left: 0 !important;
}

.container-table table td:nth-child(3) {
  text-align: left !important;
  padding-left: 0 !important;
}

.container-table table td:nth-child(4) {
  text-align: left !important;
  padding-left: 0 !important;
}

.container-table table td:nth-child(5) {
  padding-left: 0 !important;
}

.container-table table td:nth-child(8) {
  text-align: left !important;
}

.container-table table td:nth-child(6) {
  text-align: right !important;
}

.container-table table td:nth-child(7) {
  text-align: right !important;
}

.container-table table tr:nth-child(even) {
  background-color: #f7f8fb;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    margin: 32px;
  }
  .header-search {
    margin-left: 32px;
  }
  .hide {
    display: none !important;
  }
}

.calendar-container {
  width: 370px;
  height: 396px !important;
  position: absolute;
  background-color: white;
  z-index: 10;
  padding: 24px 32px;
  -webkit-box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
          box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
  border-radius: 20px;
}

.calendar-container .table {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.calendar-container .table table {
  padding: 10px !important;
}

.calendar-container .table table th:last-child {
  padding-left: 0 !important;
}

.calendar-container .table table tr:nth-child(even) {
  background-color: white;
}

.calendar-container .table table th {
  padding-left: 0 !important;
  width: 46px;
  color: #c55e00;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 28px !important;
  text-align: left !important;
}

.calendar-container .table table tbody {
  position: absolute !important;
  left: -6px !important;
  border-spacing: 0.15em 0.6em !important;
  border-collapse: separate;
}

.calendar-container .table table tbody tr td {
  width: 20px !important;
  height: 20px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
}

.calendar-container .table table tbody tr td.in-prev-month, .calendar-container .table table tbody tr td.in-next-month {
  color: #93aecf;
}

.calendar-container .table table tbody tr td:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffd2a8;
  color: white;
}

.calendar-container-header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.calendar-container-header p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 16px;
}

.calendar-container .btn-prev,
.calendar-container .btn-next {
  cursor: pointer;
}

.calendar-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.015em !important;
}

.calendar-container .btn-container .week-control,
.calendar-container .btn-container .day-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-container .btn-container .week-control span,
.calendar-container .btn-container .day-control span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.calendar-container .btn-container .week-control input,
.calendar-container .btn-container .day-control input {
  height: 16px;
  width: 16px;
}

.calendar-container .btn-container span {
  margin-left: 8px;
}

.today {
  color: white !important;
  background-color: #ffba7b !important;
  border-radius: 50%;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.day-width {
  height: 46px;
}

.day-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #ffb800;
  --background-color: #f9f6f4;
  --primary-font: 'Montserrat';
}

#root {
  background-color: var(--background-color);
}

body {
  font-family: var(--primary-font) !important;
  background-color: var(--background-color);
  overflow-x: hidden;
  /* Hide scrollbars */
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */