.header {
  position: absolute;
  top: 17px;
  background-color: $backgroundColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-search {
    width: 437px;
    height: 48px;
    left: 321px;
  }
}
