.header {
  position: absolute;
  background-color: $backgroundColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &-search {
    top: 17px;
    width: 437px;
    height: 48px;
    left: 321px;
    padding: 10px 16px;
    border-radius: 12px;
    background-color: $searchColor;
  }
  &-account {
  }
}
