.header {
  position: relative;
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 17px;
  margin: 0 32px;
  font-size: $text-base;
  color: $searchText;
  &-search {
    position: absolute;
    opacity: 0.7;
    font-weight: 400;
    font-style: italic;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 437px;
    height: 48px;
    padding: 10px 16px;
    border-radius: 12px;
    background-color: $searchColor;
    justify-content: space-between;
    left: 0;
    &-input {
      background-color: transparent;
    }
    &-icon {
      font-size: 2rem;
    }
  }
  &-account {
    position: absolute;
    display: flex;
    right: 0;
    flex-direction: row;

    justify-content: space-around;
    &-icon {
      padding: 0 14px;
      color: $searchText;
    }
    &-avatar {
      border-radius: $rounded;
    }
  }
}
