.header {
  position: absolute;
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &-search {
    top: 17px;
    width: 437px;
    height: 48px;
    left: 321px;
    padding: 10px 16px;
    border-radius: 12px;
    &-search-input {
      background-color: $searchColor;
    }
  }
  &-account {
    &-avatar {
      border-radius: $rounded;
    }
  }
}
