.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}
.container {
  position: relative;

  height: 100vh;

  &-main {
    position: absolute;
    display: flex;
    height: 100%;
    background: #ffffff;
    bottom: 0;
  }
}
