.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}
.container {
  position: relative;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 82px;
  &-main {
    display: flex;
    bottom: 0;
    right: 0;
  }
}
