.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}
.container {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 82px;
  flex: 1;
}
.main {
  position: absolute;
  display: flex;
}
