// coloring
$primary-color: #ffb800;
$button-color: #ff993c;
$backgroundColor: #e5e5e5;
$searchColor: #ededed;
$checkboxColor: #27aef9;
$grey: #888888;
$pink: #fd5959;
$green: #03ac00;
$grey-used: #919dba;

// font-size
$text-base: 16px;
$text-sm: 14px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 36px;

//rounded
$rounded: 30px;
