@import './reset';
@import './variables';
@import './header';
@import './sidebar';
@import './main';
@import './dashboard';
@import './ticketmanagement';
@import './ticketcheck';
@import './servicepack';

html {
  font-size: 62.5%;
  font-family: var(--primary-font) !important;
}

:root {
  // coloring
  --primary-color: #ffb800;
  --background-color: #f9f6f4;
  --primary-font: 'Montserrat';
}
body {
  background-color: var(--background-color);
}
