.container {
  display: flex;
  flex-direction: column;
  color: $searchText;
  p.title_xl {
    color: inherit;
    font-size: $text-xl;
    font-style: bold;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 0.5rem;
  }
  &-revenue {
    display: flex;
    flex-direction: column;
  }
  .chart {
    max-height: 20rem !important;
    width: 100%;
    left: 80.43243408203125px;
    top: 89.55859375px;
    border-radius: 0px;
    margin: 1rem 0;
    background: linear-gradient(
      180deg,
      rgba(250, 160, 95, 0.26) 0%,
      rgba(255, 255, 255, 0) 141.68%
    );
  }
}
.title {
  color: inherit;
  font-weight: 600;
  font-size: $text-md;
  line-height: 28px;
}
.sm-title {
  color: inherit;
  font-size: $text-sm;
  line-height: 22px;
  font-weight: 500;
  opacity: 0.5;
}
.sum-revenue {
  color: inherit;
  font-size: $text-lg;
  font-weight: 700;
  line-height: 30px;
}
.currency {
  color: inherit;
  font-size: $text-sm;
  font-weight: 500;
  line-height: 22px;
}
.hint {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube {
  width: 44px;
  height: 20px;
  padding: 1rem;
  border-radius: 4px;
  margin-right: 1rem;
}
.used {
  background-color: #4f75ff;
}
.ready {
  background-color: #ff8a48;
}
